.main_container {
}
.studio_wrapper {
  margin-left: 25%;
  margin-top: -15%;
  font-size: 280px;
}
.sleek_wrapper {
  font-size: 280px;
}
.about_heading_wrapper {
  margin-top: -5%;
  margin-left: 12%;
}
.about_para_wrapper {
  margin-top: -12%;
  width: 38%;
  margin-left: 45%;
}
