h3 {
  color: #476f66;
  font-size: 30px;
}
.main_heading {
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
}
.plus_wrapper {
  margin-right: 30%;
  margin-top: 3%;
}
.info_container hr {
  width: 60%;
}
.detail_wrapper {
  width: 55%;
  margin-left: 20%;
}
.plus_wrapper:hover {
  cursor: pointer;
}
.b {
  border: 1px solid red;
}
